In [2]:
import pandas as pd

## Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [3]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [4]:
set(log['traffic_source'])

{'direct', 'email', 'google', 'paid', 'yandex'}

С помощью apply

In [5]:
def source_classification(dataset):
    #     применяется на всю строку
    if dataset['traffic_source'] in ['google', 'yandex']:
        return 'organic'
    elif (dataset['traffic_source'] in ['paid', 'email']) & (dataset['region'] == 'Russia'):
        return 'ad'
    elif (dataset['traffic_source'] in ['paid', 'email']) & (dataset['region'] != 'Russia'):
        return 'other'
    else:
        return dataset['traffic_source']

In [6]:
log['source_type'] = log.apply(source_classification, axis=1)
log.head(5)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [57]:
# создать словарь из значений колонок датафрейма для проверки

In [8]:
# my_dict = {}
# for i, r in log.iterrows():
#     my_dict[(r[3], r[5])] = [r[6]]

# my_dict

{('Russia', 'yandex'): ['organic'],
 ('Russia', 'direct'): ['direct'],
 ('Russia', 'paid'): ['ad'],
 ('China', 'direct'): ['direct'],
 ('Russia', 'email'): ['ad'],
 ('India', 'direct'): ['direct'],
 ('Ukraine', 'google'): ['organic'],
 ('Belarus', 'direct'): ['direct'],
 ('Belarus', 'paid'): ['other'],
 ('Russia', 'google'): ['organic'],
 ('Ukraine', 'paid'): ['other'],
 ('Ukraine', 'email'): ['other'],
 ('Ukraine', 'yandex'): ['organic'],
 ('Ukraine', 'direct'): ['direct'],
 ('Belarus', 'email'): ['other'],
 ('Belarus', 'yandex'): ['organic'],
 ('India', 'email'): ['other'],
 ('Belarus', 'google'): ['organic'],
 ('India', 'google'): ['organic'],
 ('Australia', 'direct'): ['direct'],
 ('China', 'email'): ['other'],
 ('Australia', 'email'): ['other'],
 ('Australia', 'google'): ['organic'],
 ('China', 'yandex'): ['organic'],
 ('Australia', 'yandex'): ['organic'],
 ('China', 'paid'): ['other'],
 ('India', 'yandex'): ['organic'],
 ('China', 'google'): ['organic'],
 ('India', 'paid'): ['other'],
 ('Australia', 'paid'): ['other']}

In [9]:
# for k, v in my_dict.items():
#     if k[0] == 'Russia' and k[1] in ['paid', 'email']:
#         my_dict[k].append(v[0]=='ad')
#     elif k[0] != 'Russia' and k[1] in ['paid', 'email']:
#         my_dict[k].append(v[0]=='other')
#     elif k[1] in ['google', 'yandex']:
#         my_dict[k].append(v[0]=='organic')
#     else:
#         my_dict[k].append(k[1]==v[0])

In [10]:
# my_dict

{('Russia', 'yandex'): ['organic', True],
 ('Russia', 'direct'): ['direct', True],
 ('Russia', 'paid'): ['ad', True],
 ('China', 'direct'): ['direct', True],
 ('Russia', 'email'): ['ad', True],
 ('India', 'direct'): ['direct', True],
 ('Ukraine', 'google'): ['organic', True],
 ('Belarus', 'direct'): ['direct', True],
 ('Belarus', 'paid'): ['other', True],
 ('Russia', 'google'): ['organic', True],
 ('Ukraine', 'paid'): ['other', True],
 ('Ukraine', 'email'): ['other', True],
 ('Ukraine', 'yandex'): ['organic', True],
 ('Ukraine', 'direct'): ['direct', True],
 ('Belarus', 'email'): ['other', True],
 ('Belarus', 'yandex'): ['organic', True],
 ('India', 'email'): ['other', True],
 ('Belarus', 'google'): ['organic', True],
 ('India', 'google'): ['organic', True],
 ('Australia', 'direct'): ['direct', True],
 ('China', 'email'): ['other', True],
 ('Australia', 'email'): ['other', True],
 ('Australia', 'google'): ['organic', True],
 ('China', 'yandex'): ['organic', True],
 ('Australia', 'yandex'): ['organic', True],
 ('China', 'paid'): ['other', True],
 ('India', 'yandex'): ['organic', True],
 ('China', 'google'): ['organic', True],
 ('India', 'paid'): ['other', True],
 ('Australia', 'paid'): ['other', True]}

In [13]:
# for k, v in my_dict.items():
#     if not v[1]:
#         print(k,v)

## Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм

Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [70]:
urls = pd.read_csv('URLs.txt')
urls

                                                  url
0                                             /world/
1                                            /latest/
2                                       /?updated=top
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[93 rows x 1 columns]

In [71]:
regex = r'/\d{8}-'

urls.loc[urls.url.str.contains(regex)]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

## Задание 3

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [26]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [16]:
from pymystem3 import Mystem
import re

In [17]:
data['keyword'][0]

'курс гривны к рублю'

In [18]:
data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [19]:
m = Mystem()

In [136]:
def make_lemmas(dataset):
    raw_lemmas = m.lemmatize(dataset)
    lemmas = ''.join(raw_lemmas).strip()
    return lemmas

In [139]:
%%time

data['lemmas'] = data['keyword'].apply(make_lemmas)

Wall time: 8.13 s

In [138]:
data

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль